<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949919370894-k14rehqitvf49uahlu1675ma0d2qsfqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949919370894-k14rehqitvf49uahlu1675ma0d2qsfqn</string>
	<key>API_KEY</key>
	<string>AIzaSyAITWYWNuJ32OufguUN5fT430K0lWwTNc0</string>
	<key>GCM_SENDER_ID</key>
	<string>949919370894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nfaah.Nfaah</string>
	<key>PROJECT_ID</key>
	<string>nfaah-8af44</string>
	<key>STORAGE_BUCKET</key>
	<string>nfaah-8af44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949919370894:ios:73960706300610decb43df</string>
	<key>DATABASE_URL</key>
	<string>https://nfaah-8af44.firebaseio.com</string>
</dict>
</plist>